@media (min-width: 425px) and (max-width: 575px) {
    .topnav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
        padding: 10px 0;
         margin-left: 0px;
         margin-right: 0px;
    }

    .undertopnavcontainer{

        margin-top: 20px;
        border-bottom: 1px solid lightgray;
        margin-left: 0px;
        margin-right: 0px;
    }



    /*slider responsive work*/

    #slider{
        width:100%;
        max-width: 95%;
        margin-top: 40px;

        height: 222px;

        overflow:hidden;
        border: 1px solid white;
        margin-left: 15px;
        z-index: 0;


    }

    .slide{
        /*width:100%;*/
        /*display: none;*/
        animation-name:fade;
        animation-duration:1s;
        position: relative;

    }
    .slide img{
        width: 100%;
    }

    .ss-content{
        position: absolute;
        top:58px;
        left:50px;
    }
    .ss-content .p1{
        font-size: 16px;
        font-family: 'Rock Salt', cursive;
        color:lightpink;
    }
    .ss-content .v1{
        font-size: 12px;
        font-family: 'Rock Salt', cursive;
        border-bottom: 1px solid lightgray;
    }


    @keyframes fade{
        from{opacity:0.5;}
        to{opacity:1;}
    }

    .controls{
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        font-size:1.5em;
        padding:0px 0px;
        border-radius:5px;

    }



    .controls:active{
        color:grey;
    }

    #left-arrow{
        left:10px;

    }

    #right-arrow{
        right:10px;

    }


    /*banner work*/

    .bannercontainer{
        margin-top: 10px;
    }
    .contentbanner{
        text-align: center;

    }
    .contentbanner h4{
        ffont-family: 'Oswald', sans-serif;

        font-size: 10px;
    }
    .contentbanner p{

        font-family: 'Indie Flower', cursive;
        font-size: 10px;
        color:lightgray;

    }
    .item1content{
        position: absolute;
        top:200px;
        left:465px;
    }
    .item1content h1{
        font-size: 10px;
        font-family: 'Permanent Marker', cursive;
    }
    .item1content p{
        font-size: 10px;
        font-family: 'Indie Flower', cursive;
        border-bottom: 1px solid lightgray;

    }
    .item2content{
        position: absolute;
        top:420px;
        left:890px;


    }
    .item2content h1{
        font-size: 10px;
        font-family: 'Permanent Marker', cursive;

    }
    .item2content p{
        font-size: 10px;
        font-family: 'Indie Flower', cursive;
        border-bottom: 1px solid lightgray;

    }
    .extrapadding{
        padding-bottom: 10px;
    }
    .item3content1{
        position: absolute;
        top:40px;
        left:1250px;
        font-size: 10px;
        font-family: 'Permanent Marker', cursive;
    }
    .itm3content2{
        position: absolute;
        top:440px;
        left:1270px;
        font-size: 10px;
        font-family: 'Indie Flower', cursive;
        border-bottom: 1px solid lightgray;
    }
    .item4content{
        position: absolute;
        top:540px;
        left:90px;
    }
    .item4content h1{
        font-size: 10px;
        font-family: 'Permanent Marker', cursive;
    }
    .item4content p{
        font-size: 10px;
        font-family: 'Indie Flower', cursive;
        border-bottom: 1px solid lightgray;
    }
    .item5content1{
        position: absolute;
        top:540px;
        left:480px;
        font-size: 10px;
        font-family: 'Permanent Marker', cursive;
    }
    .item5content2{
        position: absolute;
        top:980px;
        left:480px;
        font-size: 10px;
        font-family: 'Indie Flower', cursive;
        border-bottom: 1px solid lightgray;
    }
    .item6content1{
        position: absolute;
        top:635px;
        left:1000px;
        font-size: 10px;
        font-family: 'Permanent Marker', cursive;
    }
    .iem6content2{
        position: absolute;
        top:950px;
        left:1100px;
        font-size: 10px;
        font-family: 'Indie Flower', cursive;
        border-bottom: 1px solid lightgray;
    }




}